---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav class="nav">
			<ul class="navigation">
				<li class="navigation__item"><a href="/">Main</a></li>
				<li class="navigation__item"><a href="/about">About</a></li>
				<li class="navigation__item"><a href="/blog">Price</a></li>
			</ul> 
		</nav>
		<h1>Test main_header</h1>
		<div>
			<p>video-container</p>
		</div>
	</body>
</html>
