---
import '../styles/global.css'

const weight = 900;
const size = '48px';
const greenBg = "green";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style define:vars= {{greenBg}}>
			.main_header {
				color: blue;
				font-weight: var(--weight);
				font-size: var(--size);
			}

			.green_bg {
				color: var(--greenBg);
			}
		</style>
	</head>
	<body>
		<nav class="nav">
			<ul class="navigation">
				<li class="navigation__item"><a href="/">Main</a></li>
				<li class="navigation__item"><a href="/about">About</a></li>
				<li class="navigation__item"><a href="/blog">Price</a></li>
			</ul> 
		</nav>
		<h1 class="main_header">Test main_header <span class="green_bg">test green_bg</span> test test tes</h1>
		<div>
			<p>video-container</p>
		</div>
	</body>
</html>
